body {
    background-color: #fff5f5;
    margin: 0 auto;
}
.content {
  position: relative;
  padding: 20px;
  top: 140px;
}
head {
  background-color: white;
  margin: 0;
  padding: 0;
  border: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 30px;
}

header {
  display: inline-block;
  background-color: white;
  width: 100%;
  position:fixed;
  border-bottom: 1px solid white;
  overflow: hidden;
  top: 0;
  z-index:9999;
}

ul#books {
  text-align: center;
}

li#book {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}

img#book {
  height: 400px;
  width: 300px;
}

img#book:hover {
  height: 420px;
  width: 315px;
  transition-duration: 0.5s;
}
li#image {
  padding-right: 50px;
}

ul#navigation {
  list-style-type: none;
  text-align: left;
}

li {
  font-family: 'Oswald', sans-serif;
  text-align: left;
  display: inline-block;
  margin-right: 1%;
  font-size: 20px;
  vertical-align: middle;
}


a {
  text-decoration: none;
  color: black;
}

a#roundbutton {
  color:white;
  background-color: Green;
  border-radius: 12px;
  padding: 5px;
}

a#roundbutton:hover {
    background-color: red;
    transition-duration: 0.4s;
}

a:hover {
  color:#0eb32f;
  transition-duration: 0.4s;
}

a:visited {
  color: none;
}
